/* src/Navbar/Nav1.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo-icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.navbar-website-name {
  margin-left: 10px;
  font-size: 20px;
  color: rgb(255, 14, 14);
  text-decoration: none;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 16px; /* Adjust font size as needed */
}

.navbar-links a:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    margin: 10px 0;
  }
}
